@model List<Property>
<div class="content">
    <div class="content-heading">
        <div class="row">
            <div class="col-xs-12 col-md-10">
                <h4>Property List</h4>
            </div>
            <div class="col-xs-12 col-md-2">
                <a asp-controller="Property" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> New Property
                </a>
            </div>
        </div>
    </div>

    <div class="content-body">
        <table id="tableData" class="table table-bordered table-condensed">
            <thead class="custom-head">
                <tr>
                    <th>SN.</th>
                    <th>Image</th>
                    <th>Property Type</th>
                    <th>Location</th>
                    <th>Price</th>
                    <th>Features</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
         @*    <tbody>
                @foreach (var item in Model.Select((value, index) => new { value, index }))
                {
                    <tr>
                        <td>@(item.index + 1)</td> <!-- SN -->
                        <td></td>
                        <td>@item.value.PropertyType</td>
                        <td>@item.value.Location</td>
                        <td>@item.value.Price</td>
                        <td>@item.value.Features</td>
                        <td>@item.value.Description</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary mx-2" asp-controller="Category"
                                   asp-action="Edit" asp-route-id="@item.value.Id">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>

                                <a class="btn btn-danger mx-2" asp-controller="Category"
                                   asp-action="Delete" asp-route-id="@item.value.Id">
                                    <i class="bi bi-trash-fill"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody> *@
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/PropertyController.js"></script>
}

